In [1]:
## Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Port Elizabeth,39.31,-74.98,45.00,59,1,3.36,US,2020-01-01 22:09:41
1,1,Saskylakh,71.97,114.09,-12.96,82,0,13.87,RU,2020-01-01 22:09:42
2,2,Ribeira Grande,38.52,-28.70,59.00,67,40,13.87,PT,2020-01-01 22:09:42
3,3,Norman Wells,65.28,-126.83,-11.20,83,40,10.29,CA,2020-01-01 22:09:42
4,4,Kapaa,22.08,-159.32,80.60,57,1,10.29,US,2020-01-01 22:05:48

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"] 
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

# Assign the figure variable.
fig = gmaps.figure(center=(40.75, -74.00), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Cloudiness of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Wind of percent 
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [9]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
4,4,Kapaa,22.08,-159.32,80.60,57,1,10.29,US,2020-01-01 22:05:48
6,6,Rikitea,-23.12,-134.97,78.67,80,100,11.65,PF,2020-01-01 22:09:43
14,14,Touros,-5.20,-35.46,78.80,83,98,6.93,BR,2020-01-01 22:09:45
15,15,Kahului,20.89,-156.47,80.60,54,40,12.75,US,2020-01-01 22:09:46
18,18,San Vicente,-0.59,-80.41,87.80,58,40,11.41,EC,2020-01-01 22:09:46
19,19,Tamandare,-8.28,-70.75,87.62,55,94,3.53,BR,2020-01-01 22:09:47
21,21,Hilo,19.71,-155.08,80.60,57,75,10.29,US,2020-01-01 22:07:59
23,23,Jacqueville,5.21,-4.42,78.80,94,20,1.12,CI,2020-01-01 22:09:48
28,28,Victoria,5.28,115.24,80.60,83,75,2.24,BN,2020-01-01 22:09:50
30,30,Bluff,-23.58,149.07,76.37,78,3,11.97,AU,2020-01-01 22:09:50

In [10]:
preferred_cities_df.count()

City_ID       149
City          149
Lat           149
Lng           149
Max Temp      149
Humidity      149
Cloudiness    149
Wind Speed    149
Country       149
Date          149
dtype: int64

In [11]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp    Lat     Lng Hotel Name
4         Kapaa      US     80.60  22.08 -159.32
6       Rikitea      PF     78.67 -23.12 -134.97
14       Touros      BR     78.80  -5.20  -35.46
15      Kahului      US     80.60  20.89 -156.47
18  San Vicente      EC     87.80  -0.59  -80.41
19    Tamandare      BR     87.62  -8.28  -70.75
21         Hilo      US     80.60  19.71 -155.08
23  Jacqueville      CI     78.80   5.21   -4.42
28     Victoria      BN     80.60   5.28  115.24
30        Bluff      AU     76.37 -23.58  149.07

In [12]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}

In [13]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to the params dictionary as values to the location key.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
   # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [14]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Kapaa,US,80.60,22.08,-159.32,Sheraton Kauai Coconut Beach Resort
6,Rikitea,PF,78.67,-23.12,-134.97,Pension Maro'i
14,Touros,BR,78.80,-5.20,-35.46,INN NEW HORIZON
15,Kahului,US,80.60,20.89,-156.47,Maui Seaside Hotel
18,San Vicente,EC,87.80,-0.59,-80.41,La Piedra Hotel
19,Tamandare,BR,87.62,-8.28,-70.75,
21,Hilo,US,80.60,19.71,-155.08,Hilo Seaside Hotel
23,Jacqueville,CI,78.80,5.21,-4.42,Hotel Le Martin Pecheur
28,Victoria,BN,80.60,5.28,115.24,Tiara Labuan Hotel
30,Bluff,AU,76.37,-23.58,149.07,Bluff Hotel

In [15]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [18]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [19]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))