In [60]:
## Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [61]:
# Store the CSV you saved created in part one into a DataFrame.
city_weather_df = pd.read_csv("data/WeatherPy_challenge.csv")
city_weather_df.rename(columns={"Rain Inches (last 3hours)":"RainInches", "Snow Inches (last 3hours)":"SnowInches"}, inplace=True)
city_weather_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,RainInches,SnowInches
0,0,Quatre Cocos,MU,2020-01-02 06:34:29,-20.21,57.76,84.20,79,75,6.93,broken clouds,0.0,0.0
1,1,Port Hedland,AU,2020-01-02 06:34:29,-20.31,118.58,95.00,50,83,19.46,broken clouds,0.0,0.0
2,2,Barrow,AR,2020-01-02 06:34:30,-38.31,-60.23,54.46,97,7,5.99,clear sky,0.0,0.0
3,3,Ushuaia,AR,2020-01-02 06:34:30,-54.81,-68.31,62.60,48,40,3.36,scattered clouds,0.0,0.0
4,4,Upernavik,GL,2020-01-02 06:34:30,72.79,-56.15,-15.56,85,90,6.02,overcast clouds,0.0,0.0

In [62]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [63]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))
raining = input("Do you want it to be raining? (yes/no) ")
snowing = input ("Do you want it to be snowing? (yes/no) ")

What is the minimum temperature you would like for your trip? 35
What is the maximum temperature you would like for your trip? 100
Do you want it to be raining? (yes/no) no
Do you want it to be snowing? (yes/no) no

In [64]:
preferred_cities_df = city_weather_df.loc[(city_weather_df["Max Temp"] <= max_temp) & (city_weather_df["Max Temp"] >= min_temp)]
if (raining == "yes"):
    preferred_cities_df = preferred_cities_df.loc[(preferred_cities_df["RainInches"] > 0)]
elif (snowing == "yes"):
    preferred_cities_df = preferred_cities_df.loc[(preferred_cities_df["SnowInches"] > 0)] 
    
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,RainInches,SnowInches
0,0,Quatre Cocos,MU,2020-01-02 06:34:29,-20.21,57.76,84.20,79,75,6.93,broken clouds,0.0,0.0
1,1,Port Hedland,AU,2020-01-02 06:34:29,-20.31,118.58,95.00,50,83,19.46,broken clouds,0.0,0.0
2,2,Barrow,AR,2020-01-02 06:34:30,-38.31,-60.23,54.46,97,7,5.99,clear sky,0.0,0.0
3,3,Ushuaia,AR,2020-01-02 06:34:30,-54.81,-68.31,62.60,48,40,3.36,scattered clouds,0.0,0.0
5,5,Rikitea,PF,2020-01-02 06:34:30,-23.12,-134.97,78.40,83,39,6.26,scattered clouds,0.0,0.0
6,6,Hambantota,LK,2020-01-02 06:34:31,6.12,81.12,82.40,100,75,6.93,broken clouds,0.0,0.0
7,7,Cape Town,ZA,2020-01-02 06:30:22,-33.93,18.42,72.00,77,20,17.22,few clouds,0.0,0.0
8,8,Souillac,FR,2020-01-02 06:34:31,45.60,-0.60,48.20,93,90,3.36,overcast clouds,0.0,0.0
9,9,San Patricio,PY,2020-01-02 06:34:32,-26.98,-56.83,69.94,89,0,5.39,clear sky,0.0,0.0
11,11,Fuerte Olimpo,BR,2020-01-02 06:34:32,-21.04,-57.87,76.78,71,29,4.47,scattered clouds,0.0,0.0

In [65]:
preferred_cities_df.count()

City_ID                390
City                   390
Country                388
Date                   390
Lat                    390
Lng                    390
Max Temp               390
Humidity               390
Cloudiness             390
Wind Speed             390
Current Description    390
RainInches             390
SnowInches             390
dtype: int64

In [66]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp",  "Current Description", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Quatre Cocos,MU,84.20,broken clouds,-20.21,57.76,
1,Port Hedland,AU,95.00,broken clouds,-20.31,118.58,
2,Barrow,AR,54.46,clear sky,-38.31,-60.23,
3,Ushuaia,AR,62.60,scattered clouds,-54.81,-68.31,
5,Rikitea,PF,78.40,scattered clouds,-23.12,-134.97,
6,Hambantota,LK,82.40,broken clouds,6.12,81.12,
7,Cape Town,ZA,72.00,few clouds,-33.93,18.42,
8,Souillac,FR,48.20,overcast clouds,45.60,-0.60,
9,San Patricio,PY,69.94,clear sky,-26.98,-56.83,
11,Fuerte Olimpo,BR,76.78,scattered clouds,-21.04,-57.87,

In [67]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to the params dictionary as values to the location key.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
     # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [68]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Quatre Cocos,MU,84.20,broken clouds,-20.21,57.76,Emeraude Beach Attitude Hotel
1,Port Hedland,AU,95.00,broken clouds,-20.31,118.58,The Esplanade Hotel
2,Barrow,AR,54.46,clear sky,-38.31,-60.23,
3,Ushuaia,AR,62.60,scattered clouds,-54.81,-68.31,Albatros Hotel
5,Rikitea,PF,78.40,scattered clouds,-23.12,-134.97,Pension Maro'i
6,Hambantota,LK,82.40,broken clouds,6.12,81.12,Bungalow 63
7,Cape Town,ZA,72.00,few clouds,-33.93,18.42,Southern Sun Waterfront Cape Town
8,Souillac,FR,48.20,overcast clouds,45.60,-0.60,Jolysable
9,San Patricio,PY,69.94,clear sky,-26.98,-56.83,"Granja ""La Blanca"""
11,Fuerte Olimpo,BR,76.78,scattered clouds,-21.04,-57.87,Hotel Fuerte Olimpo

In [69]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

In [70]:
# %%
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [75]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

#embed_minimal_html('export.html', views=[fig])

# Save the figure.
#fig.save("weather_data/Hotels.png")

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [72]:
## Upload the CSV file as part of your submission as WeatherPy_challenge.csv.

# Create the output file (CSV).
output_data_file = "data/WeatherPy_vacation.csv"

# Export the City_Data into a CSV.
hotel_df.to_csv(output_data_file, index_label="City_ID")