In [1]:
## Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Codrington,-28.95,153.24,89.60,51,99,17.22,AU,2019-12-31 06:37:22
1,1,Rikitea,-23.12,-134.97,77.45,85,100,11.23,PF,2019-12-31 06:37:23
2,2,General Pico,-35.66,-63.75,68.56,95,0,4.85,AR,2019-12-31 06:37:23
3,3,Mataura,-46.19,168.86,72.00,65,42,5.99,NZ,2019-12-31 06:35:46
4,4,Esperance,-33.86,121.89,77.00,41,0,12.75,AU,2019-12-31 06:37:26

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"] 
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Cloudiness of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Wind of percent 
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Codrington,-28.95,153.24,89.60,51,99,17.22,AU,2019-12-31 06:37:22
1,1,Rikitea,-23.12,-134.97,77.45,85,100,11.23,PF,2019-12-31 06:37:23
4,4,Esperance,-33.86,121.89,77.00,41,0,12.75,AU,2019-12-31 06:37:26
6,6,Victoria,5.28,115.24,86.00,74,75,12.75,BN,2019-12-31 06:35:20
8,8,Marsh Harbour,26.54,-77.06,75.34,86,33,13.04,BS,2019-12-31 06:37:27
22,22,Sharjah,25.36,55.39,77.00,68,20,6.93,AE,2019-12-31 06:33:53
23,23,Jamestown,-33.21,138.60,79.92,16,0,13.65,AU,2019-12-31 06:37:32
26,26,Georgetown,6.80,-58.16,75.20,94,40,4.70,GY,2019-12-31 06:37:33
32,32,Mahebourg,-20.41,57.70,82.40,78,75,13.87,MU,2019-12-31 06:36:53
35,35,Airai,-8.93,125.41,79.63,71,91,4.45,TL,2019-12-31 06:37:35

In [14]:
preferred_cities_df.count()

City_ID       125
City          125
Lat           125
Lng           125
Max Temp      125
Humidity      125
Cloudiness    125
Wind Speed    125
Country       125
Date          125
dtype: int64

In [28]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp    Lat     Lng Hotel Name
0      Codrington      AU     89.60 -28.95  153.24
1         Rikitea      PF     77.45 -23.12 -134.97
4       Esperance      AU     77.00 -33.86  121.89
6        Victoria      BN     86.00   5.28  115.24
8   Marsh Harbour      BS     75.34  26.54  -77.06
22        Sharjah      AE     77.00  25.36   55.39
23      Jamestown      AU     79.92 -33.21  138.60
26     Georgetown      GY     75.20   6.80  -58.16
32      Mahebourg      MU     82.40 -20.41   57.70
35          Airai      TL     79.63  -8.93  125.41

In [26]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}

In [31]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to the params dictionary as values to the location key.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
   # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [33]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Codrington,AU,89.60,-28.95,153.24,
1,Rikitea,PF,77.45,-23.12,-134.97,Pension Maro'i
4,Esperance,AU,77.00,-33.86,121.89,Hospitality Esperance
6,Victoria,BN,86.00,5.28,115.24,Tiara Labuan Hotel
8,Marsh Harbour,BS,75.34,26.54,-77.06,Abaco Beach Resort
22,Sharjah,AE,77.00,25.36,55.39,Swiss Belhotel Sharjah
23,Jamestown,AU,79.92,-33.21,138.60,Jamestown Motel Terraces
26,Georgetown,GY,75.20,6.80,-58.16,Kanhai's Center
32,Mahebourg,MU,82.40,-20.41,57.70,Shandrani Beachcomber Resort & Spa
35,Airai,TL,79.63,-8.93,125.41,Juvinal Martin

In [36]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [39]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [40]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))